:root {
  height: 100%;
  /* colours */
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.test-form {
  position: absolute;
  right: calc(50% - 30px);
  width: 60px;
  margin: 100px auto;
  padding: 0;
}
